.deneme-container {
  background-color: #d5d5d5;
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
  min-height: 50px;
  max-height: 25%;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.custom-btn {
  background-color: transparent;
  width: 30px;
  height: 30px;
  /* margin: auto; */
  color: #252525;
  font-size: 0.8rem;
  font-weight: 500;
  border: transparent 1px solid;
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-btn:hover {
  background-color: #dfdcdc;
  border: #242424 1px solid;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dropdown-menu {
  width: 250px;
  text-align: center;
}
.form-control {
  height: 50px;
  font-size: 0.8rem;
}

.form-control-label {
  font-size: 0.8rem;
}

.codeList {
  display: block;
  /* font-family: monospace; */
  background-color: #242424;
  min-width: 200px;
  max-width: 100%;
  min-height: 50px;
  max-height: 100%;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.code {
  background-color: transparent;
  color: chartreuse;
  transition: 0.3s;
}

.list {
  color: #a5a5a5;
  padding-left: 20px;
  transition: 0.3s;
}

.list:hover {
  color: chartreuse;
}

.editor-container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-height: 100px;
  max-height: 100%;
  transition: 0.3s;
}

/* Global Css */
[contenteditable] {
  outline: 0px solid transparent;
}
