<!-- #region Angular Editor  -->
<div class="container" customEditor>
    <div class="row g-3 align-items-center justify-content-center mt-4 mb-4">
        <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Kategori</label>
        </div>
        <div class="col-auto">
            <select id="select_category" class="form-select">
                <option selected value="" disabled>Kategori Seçin</option>
                <option [value]="bCat.id" *ngFor="let bCat of blogCat">{{bCat.categoryName}}</option>
            </select>
        </div>
    </div>


    <div id="editor" class="editor-container p-3 mt-4"></div>
    <button type="button" id="createBlog" class="d-block w-75 shadow mx-auto btn btn-secondary mt-4 mb-4">Oluştur</button>

    <div id="testText"></div>
</div>
<!-- #endregion -->